body{
  font-family:'Pavanam', sans-serif;
}
.nombre_portada{
  font-family: 'Megrim', cursive;
}
.subtitulos{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}
.texto_blanco{
  color: white;
}
.texto_magenta{
  color: #A61C6E;
}
.texto_marino{
  color: #012F55;
}
.texto_gris{
  color: #666666;
}
.turquesa{
  background: #6BCFCB;
}
.magenta{
  background: #A61C6E;
}
.marino{
  background: #012F55;
}
.opacidad{
  background: rgba(255, 255, 255, 0.8);
}
.img_ico{
  width: 6vh;
}
.img_yo{
  width: 25vh;
}
.logo{
  width: 6vh;
}
.linea_separador{
  width: 150px;
  height: 2px;
  background-color: #012F55;
  margin-bottom: 20px;
}

#fondo-portada{
  background-image: url(../assets/img/ben-neale-210881.png);
}
#sobreMi{
  background-image: url(../assets/img/textura-1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
#fondo-contacto{
  background-image: url(../assets/img/web.jpg);
}
#img-applove{
  background-image: url(../assets/img/applove.png);
}
#img-labcar{
  background-image: url(../assets/img/labcar.png);
}
#img-honey{
  background-image: url(../assets/img/honey.png);
}
#img-yum{
  background-image: url(../assets/img/yum.png);
}
#img-lyft{
  background-image: url(../assets/img/lyft.png);
}
#pleca{
  background-image: url(../assets/img/a.png);
  background-position: 50% 0;
}
.img_tecnico{
  text-align: center;
  transform: scale(1.1) rotate(-45deg);
}
#sobreMi .uk-card{
  transform: rotate(45deg);
  border: 5px solid #62525B;
}

#sobreMi .uk-card:hover{
  border: 5px solid #A61C6E;
  cursor: pointer;
}

.uk-link, a:hover{
  color: white;
}
.uk-tooltip{
  background: #AB0067;
  border-radius:10px;
}
h2.nombre_portada, #proyectosWeb h2{
  margin: 0;
}

.uk-button{
  border-radius: 5px;
}

@media(max-width: 768px){
  .ocultar-ico-nav{
    display: none;
  }

  #fondo .nombre-portada{
    font-size: 3em;
    text-align: center;
  }
  #fondo span{
    font-size: 1em;
    text-align: center;
  }

  @media(max-width: 500px){
    .ocultar-movile{
      display: none;
    }
  }
