body{
  font-family:'Pavanam', sans-serif;
}
.nombre-portada{
  font-family: 'Megrim', cursive;
}
.subtitulos{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}
.texto-blanco{
  color: white;
}
.texto-magenta{
  color: #AB0067;
}
.texto-marino{
  color: #012F55;
}
.texto-gris{
  color: #606465;
}
.azul-morado{
  background: #708DBF;
}
.turquesa{
  background: #49C6C2;
}
.magenta{
  background: #AB0067;
}
.marino{
  background: #012F55;
}
.opacidad{
  background: rgba(255, 255, 255, 0.8);
}
#fondo-portada{
  background-image: url(../assets/img/ben-neale-210881.jpg);
  height: 100vh;
}
#fondo-contacto{
  background-image: url(../assets/img/web.jpg);

}
.uk-link, a:hover{
  color: white;
}
.uk-tooltip{
  background: #AB0067;
  border-radius:10px;
}
h2.nombre-portada, #proyectosWeb h2{
  margin: 0;
}
.uk-button{
  border-radius: 5px;
}

@media(max-width: 480px){
  .ocultar-movile{
    display: none;
  }
  #fondo .nombre-portada{
    font-size: 4em;
    text-align: center;
  }
  #fondo span{
    font-size: 1em;
    text-align: center;
  }
}
@media(max-width: 1024px and min-width:470px;){
  #fondo .nombre-portada{
    font-size: 6em;
    text-align: center;
  }
  #fondo span{
    font-size: 4em;
  }
}
